<!DOCTYPE html>
<html lang="zh-CN">

{[template "__head.html"]}

<body>
<div id="app">

    {[template "__navbar.html"]}

    <div class="container-fluid">
        <div class="row">

            {[template "__sidebar.html" .]}

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h4><b>Task ID:  {{task_id}}</b></h4>
                TODO: 顯示基礎信息, 下載當前截止的所有日誌

                <br>
                <div id="mainshow" style="background: #000;color: #fff;width: 100%;height: 780px;padding:16px;font-size: 14px;overflow-y:auto;">
                    <code id="show" style="background: #000;color: #fff;">

                    </code>
                </div>

            </div>
        </div>
    </div>
</div>

{[template "__js.html"]}
{[template "__init_js.html"]}

<script>
    var app = new Vue({
        el: '#app',
        data: {
            url: new Url(),
            slave: "{[.slave]}",
            task_id: "{[.task_id]}",
            show: "",
        },
        methods: {
            WSContainerLog:function(){
                // container WS连接

                const t = this;
                console.log(t.slave, t.container_id);

                const WSContainerLogUrl = "ws://127.0.0.1:18888/ws/executable/log?slave="+t.slave+"&task_id="+t.task_id;
                t.socket = new WebSocket(WSContainerLogUrl);
                //t.socket.binaryType = 'arraybuffer';
                t.socket.onopen = function(){
                    console.log("已经连接");
                };
                t.socket.onerror = function(){
                    console.log("WebSocket 连接发生错误");
                    Alert("WebSocket 连接发生错误", "danger")
                };
                t.socket.onclose = function(){
                    console.log("WebSocket 连接已经断开");
                    Alert("WebSocket 连接已经断开", "danger")
                };
                t.socket.onmessage = function(event){
                    console.log("收到消息");
                    $("#show").empty();
                    var txt =  event.data;
                    txt = txt.replaceAll('\\n','<br>');
                    txt = txt.replaceAll('\\"','"');
                    $("#show").append(txt);

                    var div =  document.getElementById('mainshow')
                    console.log(div.scrollTop);
                    console.log($('#show').height());

                    $('#mainshow').scrollTop( $('#show').height());
                };
            },

            GetLogData: function () {
                const t = this;
                AjaxRequestText(t.url.ExecutableLog(t.slave, t.task_id), {}, "GET", function(d){
                    //console.log(d);
                    var jsonObj = JSON.parse(d);
                    console.log(jsonObj.body.data);

                    $("#show").empty();
                    var txt =  jsonObj.body.data;
                    txt = txt.replaceAll('\\n','<br><br>');
                    txt = txt.replaceAll('\n','<br>');
                    txt = txt.replaceAll('\\"','"');
                    $("#show").append(txt);

                    var div =  document.getElementById('mainshow')
                    console.log(div.scrollTop);
                    console.log($('#show').height());

                    $('#mainshow').scrollTop( $('#show').height());
                });
            },


        },
        created:function(){
            console.log("created");
            console.log(this.slave, this.container_id);
            WSConnectNotice();
            this.GetLogData();
            //this.WSContainerLog();
        },
        mounted:function(){
            this.timer = setInterval(() => {
                this.GetLogData();
            }, 3000)
        },
    })
</script>

</body>
</html>