<html lang="zh-CN"><head>
    {[template "__head.html"]}
<body>

<div class="container">
    <form action="/register" method="post" class="form-signin">
        <h2 class="form-signin-heading">注册到 ManGe Commander</h2>
        <label for="account" class="sr-only">账号</label>
        <input type="text" id="account" name="account" class="form-control" placeholder="" required="" autofocus="">
        <br/>
        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="" required="">
        <br/>
        <button class="btn btn-lg btn-default btn-block" type="submit">提交</button>
    </form>
</div>
</body>
</html>