<h4 class="page-header"><b>项目进程</b></h4>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>项目名</th>
            <th>主机信息</th>
            <th>进程信息</th>
            <th>性能</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lorem</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td><div class="row">
                <div class="col-md-6">
                    CPU:
                    <div class="progress">
                        30/100
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    MEM:
                    <div class="progress">
                        60/100
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </div>
            </div></td>
            <td>sit</td>
        </tr>
        <tr>
            <td>Lorem</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td><div class="row">
                <div class="col-md-6">
                    CPU:
                    <div class="progress">
                        30/100
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    MEM:
                    <div class="progress">
                        60/100
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </div>
            </div></td>
            <td>sit</td>
        </tr>
        <tr>
            <td>Lorem</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td><div class="row">
                <div class="col-md-6">
                    CPU:
                    <div class="progress">
                        30/100
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    MEM:
                    <div class="progress">
                        60/100
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </div>
            </div></td>
            <td>sit</td>
        </tr>
        </tbody>
    </table>
</div>